.filterInput {
  padding-left:  50px;
  margin-bottom: 20px;
  height: 45px;
  width: 400px;
  border-radius: 5px;

  font: inherit;
  font-size: 20px;
  outline: none;

  color: #174ea6;
  background-image: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/search-512.png');
background-size: 8%;
  background-repeat: no-repeat;
  background-position: left;
}

.filterLabel {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 20px;
  font-weight: 600;

  color: #fff;

  
}
