.contactsItem {
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: space-evenly;
      align-items: center;
}

.contactsItem p {
  width: 300px;
  padding: 2px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.titleNotFound{
  margin-top: 30px;
  color: white;

  font:   40px Georgia, Serif;
  text-shadow: -1px 3px 0 #04050a;
}

.deleteButton {
  color: white;
}